<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>店家名稱</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<h1><a href="{% url 'index:shops' %}">韓流<span>來襲</span></a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'index:index' %}">Home</a></li>
					<li><a href="{% url 'index:shops' %}">店家列表</a></li>
					<li><a href={% static "generic_2.html" %}>五點聲明</a></li>
					<li><a href={% static "generic_1.html" %}>韓總大戰議員</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
				<ul class="action">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<!-- search  
			<form method="post" action="#">
				<div class="row uniform">
					<div class="9u 12u$(small)">
					<input type="text" name="query" id="query" value="" placeholder="Query" />
					</div>
					<div class="3u$ 12u$(small)">
					<input type="submit" value="Search" class="fit" />
					</div>
				</div>
			</form>
		 	-->
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<div class="inner">
						<header class="align-center">
							<h2>店家列表</h2>
							<p>Kaohsiung Shops</p>
						</header>
						
						
							
						<div class="flex flex-3">
							{% for s in stores %}
							<div class="col2">
							<a href="{% url 'index:store' s.id %}">{{ s.store_name }}</a>
							<p>context</p>
								<div class="box alt">
									<div class="row 50% uniform">
										<div class="4u"><span class="image fit"><a href="{% url 'index:store' s.id %}"><img src="{{ s.store_image }}" alt="" /></a></span></div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>

							<div style="display:inline">
								<ul >
								<li >
								{% if page_of_stores.has_previous %}
                                  <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
									 </a>
                                {% else %}
                                    <span aria-hidden="true">&laquo;</span>
                                {% endif %}
									</li>
									 {% for page_num in page_range %}
									 {% if page_num == page_of_stores.number %}
                                    <li class="active" style=><span>{{ page_num }}</span></li>
                                {% else %}
								 {% if page_num == '...' %}
								 <li><span>{{ page_num }}</span></li>
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
								{% endif %}
								{% endif %}
                            {% endfor %}
							 <li>
                                {% if page_of_stores.has_next %}
                                  <a href="?page={{ page_of_stores.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                {% else %}
                                    <span aria-hidden="true">&raquo;</span>
                                {% endif %}
                            </li>
								</ul>
								</div>
						

						
						
					<!-- 店家資訊Django-->
					</div>
					<!--
					<div class="page-icon">
						<span class="page-disabled"><i></i>上一頁</span>
    					<span class="page-current">1</span>
    					<a href="#">2</a>
    					<a href="#">3</a>
    					<a href="#">4</a>
    					<a href="#">5</a>
    					<a href="#">6</a>
    					<a href="#">7</a>
    					<span class="page-disabled"><i></i>下一頁</span>
    				</div>
					
					分頁-->

				</section>

			<!-- Three -->
				<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>你可能會喜歡</h2>
							<p>Maybe you will like </p>
						</header>

						<!-- 3 Column Video Section -->
							<div class="flex flex-3">
								<div class="video col">
									<div class="image fit">
										<img src="images/pic09.jpg" alt="" />
										
									</div>
									<p class="caption">
										店家名稱
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/pic10.jpg" alt="" />
										
									</div>
									<p class="caption">
										店家名稱
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/pic11.jpg" alt="" />
										
									</div>
									<p class="caption">
										店家名稱
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>韓總政績</h3>
							<ul class="alt">
								<li><a href="#">大戰議員</a></li>
								<li><a href="#">61遊行</a></li>
								<li><a href="#">參選總統</a></li>
								
							</ul>
						</div>
						<div class="col">
							<h3>店家列表</h3>
							<ul class="alt">
								<li><a href="#">Restaurant</a></li>
								<li><a href="#">Shopping</a></li>
								<li><a href="#">Views</a></li>
								
							</ul>
						</div>
						<div class="col">
							<h3>關於我們</h3>
							<ul class="alt">
								<li><a href={% static "generic_2.html" %}>五點聲明</a></li>
								<li><a href="#">製作團隊</a></li>
								<li><a href="#">發展歷史</a></li>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://www.facebook.com/groups/1133954320050424/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/vegetable.han/?hl=zh-tw" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					&copy; Untitled. Design: <a href="https://templated.co">Team8</a>. Images: <a href="https://unsplash.com">Internet</a>. Video: <a href="https://coverr.co">Internet</a>.
				</div>
			</footer>

		<!-- Scripts -->
		{% load static %}
			<script src={% static "assets/js/jquery.min.js" %}></script>
			<script src={% static "assets/js/jquery.scrolly.min.js" %}></script>
			<script src={% static "assets/js/skel.min.js" %}></script>
			<script src={% static "assets/js/util.js" %}></script>
			<script src={% static "assets/js/main.js" %}></script>

	</body>
</html>