<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>韓總五點聲明</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
	</head>
	<body class="subpage">



		<!-- Header -->
			<header id="header">
				<h1><a href="{% url 'index:index' %}">韓流<span>來襲</span></a></h1>
				<a href="#menu">Menu</a>
			</header>


		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'index:index' %}">Home</a></li>
					<li><a href="{% url 'index:shops' %}">店家列表</a></li>
					<li><a href="{% url 'index:addstore' %}">新增店家</a></li>
					<li><a href="{% url 'index:statement' %}">五點聲明</a></li>
					<li><a href="{% url 'index:fight' %}">韓總大戰議員</a></li>
					
				</ul>
				<ul class="actions vertical">
					<li><a id="homeLogin_Button" href="#" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<div class="inner">
						<header class="align-center">
							<h2>五點聲明</h2>
							<p>韓總：「無法參加現行制度初選。」</p>
						</header>
						<div class="video">
							<div class="video-wrapper">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/_AMmMk6ffVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<p class="caption">
								4/23 台灣自治區高雄市市長韓國瑜發表針對國民黨區長初選五點聲明
							</p>
						</div>
						<p>韓國瑜發表五點聲明如下：</p>
						<p>1、首先，對一路走來，鼓勵、支持、愛護韓國瑜的海內外朋友，深深表示感謝！</p>
						<p>2、在擔任高雄市長的這段日子中，我深刻的體會到只有台灣好，高雄才會更好。只有台灣能改變，我才能真正改變高雄！</p>
						<p>3、對於國民黨2020年總統大選，此時此刻，我無法參加現行制度的初選。</p>
						<p>4、長久以來政治權貴熱衷於密室協商，已經離人民越來越遙遠了，台灣的政治改革已經刻不容緩。希望黨內高層都能夠體察民意，關注社會脈動，重視庶民經濟，勿忘世上苦人多。</p>
						<p>5、我生在台灣、長在台灣，死在台灣，未來也會埋在台灣，我熱愛中華民國，對中華民國的發展及守護，我願負起責任，不計個人得失榮辱，只願能夠改變台灣。願天佑台灣人民、天佑中華民國。</p>
					</div>
				</section>

			<!-- Three -->
				<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>你可能會喜歡</h2>
							<p>Maybe you will like</p>
						</header>

						<!-- 3 Column Video Section -->
							<div class="flex flex-3">
								{% for s in shoplike %} 
								<div class="video col">
									<div class="image fit">
										<img src={{s.store_image}} alt="" />
										
									</div>
									<p class="caption">
										{{s.store_name}}
									</p>
									<a href="{% url 'index:store' s.id %}" class="link"><span>Click Me</span></a>
								</div>
								{% endfor %}
								<!-- <div class="video col">
									<div class="image fit">
										<img src="images/pic10.jpg" alt="" />
										
									</div>
									<p class="caption">
										店家名稱
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/pic11.jpg" alt="" />
										
									</div>
									<p class="caption">
										店家名稱
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div> -->
							</div> 
					</div>
				</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>韓總政績</h3>
							<ul class="alt">
								<li><a href="{% url 'index:fight' %}">大戰議員</a></li>
								<li><a href="#">61遊行</a></li>
								<li><a href="#">參選總統</a></li>
								
							</ul>
						</div>
						<div class="col">
							<h3>店家列表</h3>
							<ul class="alt">
								<li><a href="#">Restaurant</a></li>
								<li><a href="#">Shopping</a></li>
								<li><a href="#">Fruits</a></li>
								
							</ul>
						</div>
						<div class="col">
							<h3>關於我們</h3>
							<ul class="alt">
								<li><a href="{% url 'index:statement' %}">五點聲明</a></li>
								<li><a href="#">製作團隊</a></li>
								<li><a href="#">發展歷史</a></li>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/groups/1133954320050424/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/vegetable.han/?hl=zh-tw" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
				</div>
			</footer>

		<!-- Scripts -->
			{% load static %}
			<script src={% static "assets/js/jquery.min.js" %}></script>
			<script src={% static "assets/js/jquery.scrolly.min.js" %}></script>
			<script src={% static "assets/js/skel.min.js" %}></script>
			<script src={% static "assets/js/util.js" %}></script>
			<script src={% static "assets/js/main.js" %}></script>

	</body>
</html>