<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>世界-水果專賣店</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		{% load static%}
		<link rel="stylesheet" href={% static "assets/css/store.css" %} />
		<link rel="stylesheet" href={% static "assets/css/main.css" %} />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<h1><a href="{% url 'index:index' %}">韓流<span>來襲</span></a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'index:index' %}">Home</a></li>
					<li><a href="{% url 'index:shops' %}">店家列表</a></li>
					<li><a href="generic_2.html">五點聲明</a></li>
					<li><a href="generic_1.html">韓總大戰議員</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
				<ul class="action">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">
			
			<!-- One -->
			<form action="{% url 'poll:store' %}" method="post">
			{% csrf_token %}
				<section class="wrapper style1">
					<div class="inner">
						<header class="align-center">
							<h2>{{ stores.store_name }}</h2>
							<p>讓高雄的水果征服世界</p>
						</header>
						<div class="storeimg">
							<div class="video">
								<div class="img">
									<img src="{{ stores.store_image }}" alt="" />
								</div>
							<!--	<p class="caption">世界-水果專賣店一隅</p>-->
							</div>
							<div class="information">
									<div class="infor_text">
										<ul style="list-style:none;">
											<li>
												<h2>地址：</h2>
												<span>{{ stores.store_address }}</span>
											</li>
											<li>
												<h2>電話： </h2>
												<span>{{ stores.store_phone}}</span>
											</li>
											<li>
												<h2>簡介：</h2>
												<p style="font-size: 20px">
												{{ stores.store_introduction }}
												<!--	大悲咒（梵語：महा करुणा धारनी，轉寫：Mahā Karuṇā Dhāranī），
													全名千手千眼觀世音菩薩廣大圓滿無礙大悲心陀羅尼經大悲神咒，又稱大悲心陀羅尼（Mahā Karuṇā-citta Dhāranī）、
													千手千眼觀音大悲咒（Sahasrabhuja Sahasranetra Avalokiteśvara Mahā Karuṇā Dhāranī）、
													千手千眼無礙大悲心陀羅尼、無礙大悲陀羅尼、廣大圓滿陀羅尼、滿願陀羅尼、隨心自在陀羅尼、救苦陀羅尼、
													延壽陀羅尼、滅惡趣陀羅尼、破惡業障陀羅尼、速超十地陀羅尼，有時也稱青頸觀音大悲咒（梵語：नीलकण्ठ धारनी，轉寫：Nīlakaṇṭha Dhāraṇī，
													義爲「青頸陀羅尼」，但有時也指千句大悲咒），而朝鮮半島則習慣稱之為神妙章句大陀羅尼（韓語：신묘장구대다라니）；
													是關乎觀世音菩薩的經典《大悲心陀羅尼經》中的主要部分，漢傳共有八十四句，為梵語構成的咒文章句。-->
												</p>
											</li>
										</ul>
									</div>
								</div>
						</div>							
						
					</div>
				</section>

			<!-- Three -->
				<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>Aliquam ipsum purus dolor</h2>
							<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
						</header>

						<!-- 3 Column Video Section -->
							<div class="flex flex-3">
								<div class="video col">
									<div class="image fit">
										<img src="images/pic09.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Cras eget lacus sed mauris scelerisque tincidunt
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/pic10.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Vivamus vulputate lacus non massa auctor lobortis
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/pic11.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Nam eu nisi non ante sodales interdum a vitae neque
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Vestibullum</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Lobortis</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Accumsan</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>